<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="card">
            <div class="card-header" style="text-align:center">
                <h2>Employee Information</h2>
            </div>
            <div class="card-body">
                <input type="text"  [(ngModel)]="ename"  class="form-control" (ngModelChange)="Search()"  placeholder="enter text for search emps" />
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th (click)="sort('empno')">Employee Number&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('ename')">Employee Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('job')">Employee Job&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('sal')">Employee Salary&nbsp;<i class="fa fa-sort"></i></th>
                    </tr>
                    <tr *ngFor="let e of empinfo | orderBy : key : reverse | paginate:{itemsPerPage:3,currentPage:p}">
                        <td>{{e.empno}}</td>
                        <td>{{e.ename}}</td>
                        <td>{{e.job}}</td>
                        <td>{{e.sal}}</td>
                    </tr>

                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>