
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8"> 
        <div class="card">
            <div class="card-header" style="text-align:center;font-weight: bold;">
                <p>Employee Information</p>
            </div>
            <div class="card-body">
                <input type="text"  class="form-control" name="ename" [(ngModel)]="ename" (ngModelChange)="Search()" placeholder="Enter Empname to Filter" />
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>Employee Number</th>
                        <th (click)="sort('ename')">Employee Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th>Employee Job</th>
                        <th>Employee Salary</th>
                    </tr>
                    <tr *ngFor="let e of empinfo | orderBy : key : reverse | paginate:{itemsPerPage:3,currentPage:p}">
                        <td>{{e.id}}</td>
                        <td>{{e.ename}}</td>
                        <td>{{e.job}}</td>
                        <td>{{e.sal}}</td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2"> </div>
</div>